.navbar {
  position: fixed; /* Фиксированное положение */
  top: 0;
  left: 0;
  width: 100vw; /* Полная ширина экрана */
  display: flex;
  justify-content: space-between; /* Разделяет элементы по краям */
  align-items: center;
  padding: 15px 20px;
  background-color: #282c34;
  color: white;
  z-index: 1000; /* Поверх всего */
}

/* .admin-panel {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin-right: 20px;
} */

.nav-links {
  display: flex;
  gap: 10px; /* Расстояние между ссылками */
}

.user-links {
  display: flex;
  gap: 5px; /* Расстояние между ссылками */
}

.logout-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-left: auto;
}

.logout-btn:hover {
  background-color: #ff1a1a;
}

.nav-button {
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.nav-button:hover {
  background-color: #50535a;
}

.nav-button.exit {
  background-color: #ff1a1a;
}

.nav-button.exit:hover {
  background-color: #921111;
}
