.main-content {
  margin: 100px auto 60px auto;
  padding: 0 1rem;
  max-width: 950px;
}

.main-task-content {
  margin-top: 50px;
  margin-bottom: 60px;
}

.code-editor {
  border-radius: 10px;
  background-color: #1e1e1e;
  padding: 10px;
  border-radius: 10px;
}
