.leaderboard-container {
  padding: 100px 40px 40px;
  width: 900px;
  margin: 0 auto;
}

.leaderboard-title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
  color: white;
}

.leaderboard-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 5px 12px;
  background-color: #2c2f36;
  border-radius: 8px;
  padding: 20px;
}

.leaderboard-table th,
.leaderboard-table td {
  background-color: #344756;
  padding: 16px 20px;
  text-align: center;
  color: white;
  font-size: 16px;
  border-radius: 8px;
}

.leaderboard-table th {
  background-color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  color: #242424;
}

.leaderboard-table tbody tr:hover td {
  background-color: #3a3f48;
  transition: background-color 0.3s;
}

.leaderboard-table tbody tr:nth-child(1) td:first-child {
  background-color: #ffd700; /* Золотой */
  color: #2c2f36; /* Темный цвет для контраста */
}

.leaderboard-table tbody tr:nth-child(2) td:first-child {
  background-color: #c0c0c0; /* Серебряный */
  color: #2c2f36; /* Темный цвет для контраста */
}

.leaderboard-table tbody tr:nth-child(3) td:first-child {
  background-color: #cd7f32; /* Бронзовый */
  color: #2c2f36; /* Темный цвет для контраста */
}

.leaderboard-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaderboard-back-button-container {
  display: flex;
  justify-content: center;
  margin: 20px 0 10px;
}

.back-button {
  background-color: #cd853f;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
