.test-success-box {
  margin-top: 20px;
  padding: 16px;
  background-color: #e8f5e9;
  border: 1px solid #66bb6a;
  border-radius: 8px;
  color: #2e7d32;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.test-success-icon {
  font-size: 22px;
}

.test-error-box {
  margin-bottom: 20px;
  padding: 16px;
  color: #cc0000;
  background-color: #ffecec;
  border: 1px solid #ff5e5e;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.test-error-title {
  font-weight: bold;
  color: #cc0000;
  font-size: 18px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.test-error-entry {
  margin: 0;
}

.test-error-entry code {
  background-color: #f7f7f7;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: monospace;
}

.main-task-content {
  max-width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
  padding: 1rem;
  box-sizing: border-box;
}

.main-task-content table {
  width: 100%;
  overflow-x: auto;
  display: block;
}

.main-task-content a {
  word-break: break-word;
}

.main-task-content ul,
.main-task-content ol {
  padding-left: 1.5rem; /* отступ для маркеров */
  word-break: break-word;
}

.main-task-content li {
  overflow-wrap: break-word;
  word-break: break-word;
}

.main-task-content img {
  max-width: 100%; /* Ограничивает ширину изображения */
  height: auto; /* Сохраняет пропорции */
  border-radius: 10px; /* Скругление углов */
  background-color: #f0f0f0; /* Фон для изображения */
  padding: 10px; /* Отступы вокруг изображения */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень для выделения */
  display: block; /* Блочный элемент для центрирования */
  margin: 20px auto; /* Центрирует изображение и добавляет отступы */
}

.code-editor {
  border-radius: 10px;
  background-color: #1e1e1e;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
}

@media (max-width: 768px) {
  .main-task-content {
    padding: 10px;
    margin-top: 80px;
  }

  .upper-button-container button {
    width: 100%;
  }

  .test-success-box,
  .test-error-box {
    font-size: 16px;
    padding: 12px;
  }

  .test-error-title {
    font-size: 16px;
  }

  .test-error-entry code {
    font-size: 14px;
  }

  .main-task-content pre {
    font-size: 14px;
    white-space: pre-wrap;
    word-break: break-word;
  }

  .main-task-content h1 {
    font-size: 1.5rem;
  }

  .main-task-content h2 {
    font-size: 1.25rem;
  }

  .main-task-content h3 {
    font-size: 1.1rem;
  }

  .main-task-content button {
    font-size: 16px;
    width: 100%;
  }

  /* .code-editor {
    height: 300px !important;
  } */
}

@media (max-width: 480px) {
  .test-success-box,
  .test-error-box {
    font-size: 14px;
    padding: 10px;
  }

  .test-error-title {
    font-size: 14px;
  }

  /* .code-editor {
    height: 250px !important;
  } */
}
