/* Стили для блоков кода (между ``` ``` ) */
pre {
  background-color: #181818;
  padding: 10px;
  border-radius: 10px;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre code {
  font-family: "Courier New", Consolas, monospace;
  font-size: 1rem;
  color: #bebebe;
  background-color: transparent;
  padding: 0;
}

/* Стили для inline кода (внутри текста) остаются стандартными */
code {
  font-family: "Courier New", Consolas, monospace;
  background-color: transparent;
  padding: 0.2rem 0.4rem;
  border-radius: 10px;
}

.main-content {
  max-width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
  padding: 1rem;
  box-sizing: border-box;
}

.main-content table {
  width: 100%;
  overflow-x: auto;
  display: block;
}

.main-content a {
  word-break: break-word;
}

.main-content ul,
.main-content ol {
  padding-left: 1.5rem; /* отступ для маркеров */
  word-break: break-word;
}

.main-content li {
  overflow-wrap: break-word;
  word-break: break-word;
}

.main-content img {
  max-width: 100%; /* Ограничивает ширину изображения */
  height: auto; /* Сохраняет пропорции */
  border-radius: 10px; /* Скругление углов */
  background-color: #f0f0f0; /* Фон для изображения */
  padding: 10px; /* Отступы вокруг изображения */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень для выделения */
  display: block; /* Блочный элемент для центрирования */
  margin: 20px auto; /* Центрирует изображение и добавляет отступы */
}

.upper-button-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.lower-button-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
}

.lower-button-container a {
  display: flex;
}

.lower-button-container button {
  flex: 1;
  min-width: 33vh;
}

.upper-button-container button:hover,
.lower-button-container button:hover {
  background-color: #344756;
  color: white;
  cursor: pointer;
  transition: background-color 0.1s ease, color 0.1s ease;
}

@media (max-width: 768px) {
  .upper-button-container,
  .lower-button-container {
    flex-direction: column;
    align-items: stretch;
  }

  .upper-button-container button,
  .lower-button-container button {
    width: 100%;
    min-width: unset;
  }

  .main-content h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .main-content h3 {
    text-align: center;
    font-size: 1.2rem;
  }

  pre code {
    font-size: 0.9rem;
  }

  .main-content {
    margin-top: 140px;
    padding: 0 12px;
  }
}
